        body {
            background-color: aquamarine;
        }
        #jarda {
            
            padding: 1%;
            text-align: center;
        }
        h1 {
            font-family: 'Courier New', Courier, monospace;
        }